@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.gradient-text {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #0b0c1c;
}

.bg {
  background: linear-gradient(45deg, #04619f, #000000);
  color: #060e1f;
  background: linear-gradient(45deg, #f8f8f8, #333);
}
